*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #c5eff9;
}

.panel{
    height: 85%;
    width: 80%;
    background-color: #fdf6f6;
    border-radius: 8px;
    overflow: hidden;
}

.top{
    width: 100%;
    height: 80px;
    background-color: #52999c;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.element{
    width: 30%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
.element .box{
    height: 50%;
    width: 15%;
    border-radius: 10px;
    color: #5e999e;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.bottom{
    padding: 10px;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble{
    height: 50px;
    width: 50px;
    background-color: #52999c;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.bubble:hover{
    background-color: #356163;
    cursor: pointer;
}

@media only screen and (max-width:400px){
    .top{
        height: 60px;
    }
    .element h2{
        font-size: 17px;
    }
    .element .box{
        height: 40%;
        width: 30%;
        font-size: 1rem;
    }
    .bottom{
        gap: 5.2px;
    }
}